.layout-container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.content-left{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-right{
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}